<%= render "header" %>
<% if can? :create, @competition.registrations.build %>
  <%= link_to "Register", new_competition_registration_path(@competition) %>
<% end %>

<article id="news">
  <h2>News</h2>
  <ul>
    <%= render @competition.news %>
  </ul>
</article>
<article class="description">
  <h2>Was ist <%= @competition.name %>?</h2>
  <p>
    German Nationals 2011 ist eine sogenannte <em><%= link_to "Speedcubing", "http://de.wikipedia.org/wiki/Speedcubing" %> Competition</em>. Speedcubing bezeichnet dabei die Fähigkeit, einen 3x3x3 <%= link_to "Zauberwürfel", "http://de.wikipedia.org/wiki/Zauberwürfel" %> und verwandte Puzzle in möglichst kurzer Zeit zu lösen.
  </p>
</article>
<article class="venue">
  <h2>Wann und wo?</h2>
  <strong class="date"><%=date_range @competition.days %></strong>
  <address><%=m @competition.address %></address>
</article>
<article class="details">
  <%=m @competition.details %>
</article>