<div id="compare">
  <%= select :event, :id, options_for_select(@competition.events.registerable.official.map { |event| [event.name, compare_registrations_url(:event_id => event.id)] }, compare_registrations_url(:event_id => params[:event_id])) %>

  <table class="compare">
    <thead>
      <tr>
        <th>&#35;</th>
        <th>Name</th>
        <th>Average</th>
        <th>Single</th>
      </tr>
    </thead>
    <tbody>
      <% @competitors.each_with_index do |competitor, rank| %>
        <tr>
          <td class="rank"><%= rank + 1 %></td>
          <td class="name"><%= competitor[:participant].full_name %></td>
          <td class="average"><%= format_result competitor[:average], @event %></td>
          <td class="single"><%= format_result competitor[:single], @event %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>