<%= @registration.errors.messages %>

<%= simple_form_for [@competition, @registration] do |f| %>
  <%= f.simple_fields_for :competitor_attributes, @registration.competitor do |competitor_form| %>
    <%= competitor_form.input :wca_id, :label => "WCA ID" %>
    <%= competitor_form.input :first_name %>
    <%= competitor_form.input :last_name %>
    <%= competitor_form.input :gender, :collection => [["Male", "m"], ["Female", "f"]], :as => :radio, :include_blank => false %>
    <%= competitor_form.input :date_of_birth, :as => :date, :start_year => Date.today.year - 120, :end_year => Date.today.year %>
  <% end %>

  <% @competition.days.times do |day| %>
    <div class="day<%= day %>">
      <p>
        <%= label_tag "registration_days_as_guest_#{day}", "Guest on #{l(@competition.starts_at + day.days, :format => :day)}" %>
        <%= check_box_tag "registration[days_as_guest][]", day, false, :id => "registration_days_as_guest_#{day}" %>
      </p>
      <% @competition.schedules.registerable.for(day).each do |schedule| %>
        <p>
          <%= label_tag "registration_schedule_ids_#{schedule.id}", schedule.event.name %>
          <%= check_box_tag "registration[schedule_ids][]", schedule.id, false, :id => "registration_schedule_ids_#{schedule.id}" %>
        </p>
      <% end %>
    </div>
  <% end %>

  <%= f.input :email %>
  <%= f.submit "Register" %>
<% end %>