<%= form_for [@competition, @registration] do |f| %>
  <%= f.fields_for :competitor_attributes, @registration.competitor do |competitor_form| %>
    <p>
      <%= competitor_form.label :wca_id, "WCA ID" %>
      <%= competitor_form.text_field :wca_id %>
    </p>
    <p>
      <%= competitor_form.label :first_name %>
      <%= competitor_form.text_field :first_name %>
    </p>
    <p>
      <%= competitor_form.label :last_name %>
      <%= competitor_form.text_field :last_name %>
    </p>
    <p>
      <%= competitor_form.label :gender %>
      <%= competitor_form.select :gender, [["male", "m"], ["female", "f"]] %>
    </p>
    <p>
      <%= competitor_form.label :date_of_birth %>
      <%= competitor_form.date_select :date_of_birth, :start_year => Time.now.year - 120, :end_year => Time.now.year %>
    </p>
  <% end %>

  <% @competition.days.times do |day| %>
    <div class="day<%= day %>">
      <%= label_tag "registration_days_#{day}", l(@competition.starts_at + day.days, :format => :day) %>
      <%= check_box_tag "registration[days][]", day, false, :id => "registration_days_#{day}" %>
      <% @competition.events.for(day).each do |event| %>
        <%= label_tag "registration_event_ids_#{event.id}", event.name %>
        <%= check_box_tag "registration[event_ids][]", event.id, false, :id => "registration_event_ids_#{event.id}" %>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>