<!DOCTYPE html>
<html>
<head>
  <title>WCACompetitions</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% [:notice, :alert, :error].each do |kind| %>
  <% if flash[kind] %>
    <p id="flash" class="<%= kind %>">
      <%= flash[kind] %>
    </p>
  <% end %>
<% end %>

<%= render "layouts/header" %>
<%= yield %>

</body>
</html>
